*{
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
 
 .product-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px;
   padding: 2em;
 }

 .product-image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1em;
 }
 
 .product-image {
   height: 400px;
 }
 
 .small-images {
   margin-top: 20px;
  
 }
 
 .small-image {
   width: 55px;
   height: 55px;
  
 }
 
 .product-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  padding: 2em;
}

 .product-collection-name{
  letter-spacing: 1px;
  font-size: small;
  font-family: 'Source Sans Pro', sans-serif;
 }

 .product-header {
  font-size: 44px;
  font-weight: bold;
  padding:0;
  margin:0;
  margin-bottom: 1em;
}

 .product-description {
   margin-bottom: 20px;
   font-family: 'Source Sans Pro', sans-serif;
   width: 300px;
   
 }

 .product-delivery{
   margin:0;

}
 
 .product-sizes {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
 }
 
 .product-size {
   background-color: #ccc;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 10px;
   margin-right: 10px;
 }
 
 .product-buy-button {
   background-color: #333;
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   
   
 }




